html { 
   width:100%; 
   height:100%;
}
body{
	background: url('../images/main-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
}
@font-face { 
    font-family: DBAdmanX;
    src: url('../fonts/DBAdmanXBd.eot');
    src: url('../fonts/DBAdmanXBd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DBAdmanXBd.woff') format('woff'),
	 url('../fonts/DBAdmanXBd.svg#TheSansPlain') format('svg');
    font-weight: normal;
    font-style: normal;
}
.heading {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.main .heading img{
    width: auto;
    max-width: 95%;
}
.sub-heading p{
	font-family: 'DBAdmanX';
	color: white;
	font-size: 80px;
	line-height: 1.3em;
	margin-top: 30px;
	text-align: center;
}
.underline {
	text-decoration: underline;
}
.footnote p{
	font-family: 'DBAdmanX';
	color: white;
	font-size: 40px;
    text-align: center;
    line-height: 1.2em;
}
@media screen and (max-width: 1199px) {
	.main .heading img{
		width: 100%;
	}
	.footnote{
		width: 100%;
	}
	.sub-heading p{
		font-size: 50px;
	}
	.footnote p{
		font-size: 30px;
	}
}
@media screen and (max-width: 767px) {
	body{
		background-repeat: repeat;
	}
	.sub-heading p{
		font-size: 33px;
	}
	.footnote p{
		font-size: 24px;
	}
}